[2020-05-27 17:21] wesketchum opened #2 "Create/setup sbnobj repository"
Need an sbn object repository for sbn-specific objects to be added. `sbncode` should depend on it.

[2020-05-27 21:07] wesketchum opened #3 "Define CVMFS location(s) for common sbn software products"
@cjbackhouse brought this up in a slack channel: we don't have an obvious place to put common SBN software productions, like a SBN CVMFS area? For the moment, can request to publish all areas, but we should define the proper area(s) for this as part of the repository restructuring.

[2020-06-02 16:15] wesketchum commented on #3
ServiceDesk ticket issues for a common CVMFS area.

[2020-06-05 01:31] PetrilloAtWork opened #6 "Remove from `sbncode` dependencies on `icaruscode` and `sbndcode` (and related packages)."

[2020-06-08 14:21] cjbackhouse commented on #2
Does this just entail creating the repository within github/SBNSoftware and then moving relevant pieces over?

Oh, and getting it added to the build procedure (who do we ask about this?). Where will it be installed? Presumably the new SBN CVMFS area?

I see this pattern of splitting objects out into a seperate products in various places. Is there somewhere I can read about the rationale for it?

[2020-06-08 14:39] cjbackhouse commented on #6
I tried removing the icaruscode dependency in the most obvious way (removing it from `ups/product_deps` and a couple of other places in the makefiles).

One problem I ran into was that buildtool was no longer in my path. Apparently we get that via some sequence of steps from icaruscode and from nowhere else? Running `setup cetbuildtools v7_13_02` seems to make that work. Should we add that explici

[2020-06-15 16:32] PetrilloAtWork commented on #6
MRB setup can be temperamental... if you have a branch I can test, I can take a look.
Chances are that in a new environment it works.
Or not.

[2020-06-15 16:40] cjbackhouse commented on #6
I just pushed feature/nodep_icaruscode

[2020-06-15 16:56] PetrilloAtWork commented on #6
Works for me, after setting up the proper UPS areas (ICARUS, SBND... and MicroBooNE?!).

[2020-06-15 17:05] PetrilloAtWork commented on #6
Checked out `sbncode` only, `feature/nodep_icaruscode` branch.
After setting up all needed UPS databases (ICARUS, SBND... and MicroBooNE?!), compilation works just fine.

[2020-06-15 17:11] cjbackhouse commented on #6
OK, working for me now too...

I have
`source /cvmfs/uboone.opensciencegrid.org/products/setup_uboone.sh
setup uboonecode v08_47_00 -q e19:prof
source /cvmfs/sbnd.opensciencegrid.org/products/sbnd/setup_sbnd.sh
setup sbndcode v08_47_00 -q e19:prof
unsetup larbatch`
So, no icarus. Haven't explored what the rest is doing.

The reason the sbnanalysis stuff wasn't showing up is that for some reason I

[2020-06-15 17:16] cjbackhouse commented on #2
The ticket is RITM0975699 (so I can find it again without trawling through my emails).

[2020-06-15 17:19] cjbackhouse opened #7 "sbnanalysis shouldn't depend on icaruscode/sbndcode"
As part of the "normal hierarchy" work on sbncode, I notice that `sbncode/sbnanalysis` depends on various icaruscode and sbndcode paths.

What is the plan for all of this code?

[2020-06-15 17:22] cjbackhouse commented on #6
https://github.com/SBNSoftware/sbncode/issues/7

[2020-06-15 17:23] cjbackhouse opened #8 "sbnanalysis should participate in the regular build"
What is the motivation for sbnanalysis to need an independent build step to the rest of sbncode? Can it just be included in the main mrb build?

[2020-06-15 17:24] gputnam commented on #7
We can probably just remove the sbnanalysis code from the develop branch -- it's going to be ported into the new CAF file stuff anyway.

A bigger problem is the data products which are still defined in sbndcode/icaruscode. I believe it is mostly the CRT data products. The SBN-CAF file maker needs access to these data products to work. So I believe they need to be moved out of sbndocde/icaruscode i

[2020-06-15 17:25] cjbackhouse commented on #7
Where is the CAF stuff envisioned to live?

[2020-06-15 17:25] PetrilloAtWork commented on #6
`icaruscode` depends on the following packages: `genie_xsec`, `guideline_sl`, `fftw` and `sbndaq_artdaq_core`.
Do we know if any of these dependencies will be moved to `sbncode`?
I think at least `genie_xsec` former _should_.

[2020-06-15 17:26] cjbackhouse opened #9 "sbnd/icaruscode data objects should move to sbnobj"

[2020-06-15 17:26] cjbackhouse commented on #7
https://github.com/SBNSoftware/sbncode/issues/9

[2020-06-15 17:27] gputnam commented on #7
Currently it's on the feature/sbncaf branch in the sbncode/ directory. At some point it should just be merged onto develop.

[2020-06-15 17:27] cjbackhouse commented on #6
It seems like we didn't require them in practice? Why add any dependency we don't (yet) need?

[2020-06-15 17:29] cjbackhouse commented on #7
Ah, you mean that CAF will remain part of sbncode, and absorb whatever functionality sbnanalysis currently has, but rewriting it in such a way that it no longer has explicit dependencies on sbndcode/icaruscode, so that it's safe to remain as part of the re-located sbncode?

[2020-06-15 17:30] cjbackhouse commented on #7
I think a situation of NH sbncode, but the CAF development branch remaining IH for a while sounds *extremely* confusing. Can we try and synchronize those fixes, or merge CAF into develop before the switch?

[2020-06-15 17:31] PetrilloAtWork opened #10 "Create a sbnobj repository"
A repository `sbnobj` is needed hosting data products.
This issue is for the creation of the empty GIT/cetbuildtools based repository.

I think the dependencies should be either on `lardataobj` or with the same as `nusimdata`.

[2020-06-15 17:31] PetrilloAtWork commented on #7
Opened issue #10 to create `sbnobj`.

[2020-06-15 17:40] PetrilloAtWork commented on #9
We need to identify which are the data products to be shared.
Currently `icaruscode` has CRT data products (`icaruscode/CRT/CRTProducts`) and trigger-related ones (`icaruscode/PMT/Trigger/Data`). `sbndcode` only has CRT data products.

I suppose that the first step is to move only the first ones. @tgrbrooks and Chris Hilgenberg should confirm they are equivalent...

[2020-06-15 17:40] PetrilloAtWork commented on #9
Issue #10 created to track the creation of `sbnobj` repository.

[2020-06-15 17:59] gputnam commented on #7
Yeah Chris I agree that we should try to merge the SBN CAF changes into develop before doing the switch. I don't know if there are still issues with merging onto develop (@FernandaPsihas ?).

Once it's on develop, we can work out what changes need to be made. I think(?) it should mostly just be putting the necessary data products in an sbn-obj repo.

[2020-06-15 21:35] PetrilloAtWork commented on #6
GENIE cross sections are needed only at run time, as far as I know, so nothing _formally_ depends on then. The reason to add them in a common repository is to enforce a consistent cross section version. Whether that is a good reason is open to discussion.
I suppose that sooner or later `sbndcode` _will_ depend on `sbndaq_artdaq_core`, but until then if the preference is to leave it in `icaruscode`

[2020-06-16 09:38] mroda88 commented on #6
Hi Gianluca, just a minor comment. You are right, the genie cross sections are needed to set the tune. It's technically not the only way: one can also set up a proper environmental variable. I admit I don't know what is the better approach: it's the usual freedom vs safety. I tend to lean on the infrastructure written by Robert when in doubt, which is adding the cross sections as a dependency. If

[2020-06-16 13:52] cjbackhouse commented on #6
OK, I agree that using environment variables only for this is bad. That's a great way to have to dig through old grid submission scripts and suffer a lot of uncertainty, vs just setting up the old release and seeing what you get.

[2020-06-17 13:39] wesketchum commented on #2
Thanks Chris! There's an associated link in [sbncode#3](https://github.com/SBNSoftware/sbncode/issues/3) for the repo area. I'll add a comment on status there.

On your above comments, think we talked over slack, but can continue convo here if we need. I think at minimum an sbnobj repo would be good, but maybe we try to resist pulling too much out beyond that.

[2020-06-17 13:41] wesketchum commented on #2
#10 from @PetrilloAtWork is a duplicate of this issue. I'm closing that one and keeping this one. Gianluca had the following comment at that issue:

This issue is for the creation of the empty GIT/cetbuildtools based repository.

[2020-06-17 13:41] wesketchum commented on #10
Issue exists as #2. Suggest Closing this and continuing conversation there.

[2020-06-17 13:41] #10 closed

[2020-06-17 13:43] wesketchum commented on #3
This is Service Desk Ticket RITM0975699. Still in progress: OSG folks have been unusually slow to respond. But, all the prereqs on our side are complete.

[2020-06-17 13:51] cjbackhouse commented on #2
sorry, I commented on the wrong issue earlier.

https://github.com/SBNSoftware/sbncode/issues/3 is about the CVMFS space, but we also need to create it in github and set it up as part of the build.

[2020-06-17 13:52] wesketchum commented on #2
I think I can do the github creation and try to give it a skeleton to work from ... let met give that a go right now.

[2020-06-17 16:19] wesketchum commented on #2
OK, initial repo with lardataobj dependency is in SBNSoftware/sbnobj#1.

[2020-06-17 16:20] wesketchum commented on #9
OK, #2 complete I think, allowing this to proceed.

[2020-06-18 17:30] tgrbrooks commented on #9
I think our `CRTHit` and `CRTTrack` data products are the same but the `CRTData` products have diverged significantly between sbndcode and icaruscode

[2020-06-23 17:03] cjbackhouse commented on #3
Looks from the ticket like this has happened. And I can ls `/cvmfs/sbn.opensciencegrid.org`
Who will be the day-to-day manager of this area? (who/how should I be asking for products to be installed there?)

[2020-06-24 12:38] wesketchum commented on #3
Yes!

Instructions for access from ticket here:

@cjbackhouse I need your kerberos username, and I'll add you to the k5login. I've added Andrew, Gianluca, Tracy, Gennadiy, Joseph, Gray, and myself so far. Can add others as needed.

[2020-07-07 12:17] cjbackhouse commented on #3
Apologies, apparently github didn't notify me about this.
My kerberos principal is "bckhouse" (no "a").

[2020-07-07 13:59] wesketchum commented on #3
No worries. You've been added to the k5login: please test and see if you can login with the above instructions.

[2020-07-07 16:53] wesketchum commented on #9
OK, I'm starting to work on some of this migrating of data products now ...

[2020-07-08 20:20] wesketchum commented on #9
Initial branch at SBNSoftware/sbnobj#2

Have added in ICARUS PMT Trigger data objects, and CRT data objects across the board. For the CRT ones, I've made 'common' ones for CRTHit, CRTTrack, and CRTTzero, though I've also copied the existing versions in each namespace because I worried about backwards compatibility (those are in the _Legacy.hh file). We should consider if we need that/when we can d

[2020-07-14 15:05] PetrilloAtWork opened #11 "Update sbncode to current larsoft/sbndcode/icaruscode version"
Today it is `v08_57_00`.

[2020-07-14 15:26] PetrilloAtWork opened #12 "Consider a continuous integration test system for sbncode"
A continuous integration system _might_ be useful for `sbncode` itself.

We need to figure out what would be the content of the integration tests, which may be at different levels, e.g.:
* no actual test, but just a way to make sure the code still compiles
* minimal unit tests (e.g. for data products and libraries)
* actual tests

Contact people for the infrastructure are @vitodb (SBND) and [Vladi

[2020-07-14 15:40] PetrilloAtWork commented on #11
This is related to issue SBNSoftware/sbnobj#3.

[2020-07-15 18:28] PetrilloAtWork commented on #11
My work of moving dependencies spun off a SBNSoftware/sbncode updated to LArSoft version `v08_57_00`.
Branches are `feature/repositoryRestructuring` in both `sbnobj` and `sbncode`.

[2020-07-15 19:18] PetrilloAtWork commented on #6
FYI, I have merged this branch in my parallel attempt with `feature/repositoryRestructuring` (except that I retained the newer version of LArSoft from that branch). The difference is that my branch is focussed on the move of code to `sbnobj`, while this one is focused on the inversion of dependencies.

[2020-07-15 21:26] PetrilloAtWork commented on #7
I am hitting this as well now.
I don't understand which is the envisioned solution, but it appears to me that `sbnanalysis` is going to keep its dependency on `icaruscode`, since it seems to use detector geometry via `geo::GeometryCore`.
Other headers that are required: `sbndcode/OpDetSim/sbndPDMapAlg.h`, `icaruscode/CRT/CRTProducts/CRTChannelData.h`. These are not scheduled for move in `sbncode`/

[2020-07-15 21:57] gputnam commented on #7
Yeah the code in sbnanalysis needs to be ported to the new structure. For now, I think it'd be ok to just comment out building (e.g.) SBNOscReco.

[2020-07-28 16:03] PetrilloAtWork opened #13 "Test existing experiment data files containing CRT data products with the refactored code"
Some CRT data products are being moved from experiment code to `sbncode`, with change in namespace.
"Legacy` versions are available as well.
We need to verify that this is sufficient to be able to correctly read the old data files.

[2020-07-28 16:14] PetrilloAtWork commented on #13
I think we will need to also define what exactly the target is. Two distinct examples come into my mind right now:
1. older data files with `icarus::crt::CRTHit` data products can be read by specifically crafted "legacy" code
2. older data files with `icarus::crt::CRTHit` data products can be read by new software that explicitly refers to the _new_ data product name (for example with calls like `e

[2020-08-03 16:33] PetrilloAtWork commented on #12
@vitodb Can we set up the C.I. building and unit test infrastructure?
Remind us what you need to know and what we need to do in order to get there.
The idea is to have a workflow able to build `larsoft` → (`sbnobj` + `sbncode`) [`feature/repositoryRestructuring` branch] → `icaruscode` / `sbndcode`

`icaruscode` / `sbndcode` may be on two different workflows or one, as it's more convenient — I woul

[2020-08-03 19:38] vitodb commented on #12
@PetrilloAtWork sure, we can start to set up the infrastructure for such CI build.
As you suggested, for now let's start with `icaruscode`.

The workflow that you describe is
`larsoft` → `(sbnobj + sbncode) [feature/repositoryRestructuring branch]` → `icaruscode`
Does this means that `sbnobj` and `sbncode` depend on `larsoft`
and
`icaruscode` depends on `sbnobj` and `sbncode` ?

As starting point

[2020-08-03 19:56] PetrilloAtWork commented on #12
Actually, `icaruscode` probably depends only on `sbncode`, which in turn depends on `sbnobj`. But I don't think it makes too much of a difference at this point.

I am not sure about the "build rows" — if I guess right, you refer to an `icaruscode` build being shown (and, I suppose, executed) as a `sbncode` build (one row in the dashboard report) followed by a `icaruscode` build (in its own row, an

[2020-08-03 20:20] vitodb commented on #12
OK, so, with the sake to build up this new workflow in atomic steps, I'll start to set up a workflow that:
1. checkout/build/test `LArSoft`
2. checkout/build/test `sbnobj` + `sbncode` + `icaruscode` (using LArSoft built in the previous step)
     I'll use the same MRB build area for those three packages and I'll report their status in the same CI dashboard row.

Now looking at  `sbnobj` and `sbnco

[2020-08-03 22:22] vitodb commented on #12
When doing some test with `sbnobj` + `sbncode` + `icaruscode`, I'm in the impression that `sbncode` brings in a dependency on
`sbndcode`, `uboonecode`, `icaruscode` and `ubcore`
Do I read this correctly from the following link to `sbncode` product_deps?
https://github.com/SBNSoftware/sbncode/blob/develop/ups/product_deps#L36

[2020-08-04 02:07] PetrilloAtWork commented on #12
The only branch I am aware of that is set up consistently is `feature/repositoryRestructuring`.
In particular, `develop` has the old dependencies.

[2020-08-04 02:21] vitodb commented on #12
Given your initial comment today I thought `feature/repositoryRestructuring` was the branch to look at, but I was not able to find it for `sbnobj` or `sbncode`, so I started with `develop`.
Have been that branch pushed to the repo?

[2020-08-04 03:40] PetrilloAtWork commented on #12
Heh, good point. They are published _in my forked repositories_...
I have pushed them `upstream` (i.e. to SBNSoftware now). Except that I am not authorised to push into `sbndcode`.

This is an interesting topic... how does, for example, _LArSoft_ handle C.I. tests to branches? as far as I know, pushing branches to LArSoft official repositories is not allowed.

[2020-08-04 04:23] vitodb commented on #12
OK, this makes a lot of sense and I realize why I was not able to find those branches.

The C.I. has two mechanisms to deal with users branches on GitHub repositories through the `--revisions` option:
1. users can open a PR against the upstream repository, the C.I. can pick up the PR with a syntax like `Org/repo#PR`, where `Org` is the GitHub organization hosting the repository;
2. the C.I. can ac

[2020-08-04 14:19] vitodb commented on #12
Indeed when I try to build `sbnobj` + `sbncode` + `icaruscode` the command `mrbsetenv` complains about `uboonecode`
https://dbweb6.fnal.gov:8443/TestCI/app/storage/docs/2020/08/04/buildSBNICARUS.log

Am I supposed to source uBooNE setup script so we can pull in `uboonecode`? Or I'm missing something else?

[2020-08-04 15:26] PetrilloAtWork commented on #12
You will need to set up MicroBooNE CVMFS area. I haven't removed MicroBooNE dependencies.
We are talking about `/cvmfs/uboone.opensciencegrid.org/products/setup`.

[2020-08-04 15:28] PetrilloAtWork opened #14 "Evaluate the possibility of removing dependency on MicroBooNE code."
`sbncode` also depends on `uboonecode`.
The feasibility and consequences of removing that dependency should be investigated.

[2020-08-04 15:30] PetrilloAtWork commented on #12
For the record, I have opened issue #14 about MicroBooNE code dependency. I vaguely remember it was not superfluous.

[2020-08-04 15:58] vitodb commented on #12
I moved a bit forward, but it looks like the build stage requires `sbndcode`

(full build log is available here: https://dbweb6.fnal.gov:8443/TestCI/app/storage/docs/2020/08/04/buildSBNICARUS%23xIRwYpE.log)

For now I'll include in this test CI build also `sbndcode` (branch `feature/repositoryRestructuring` that I see you have pushed to SBNSoftare)

[2020-08-04 16:25] vitodb commented on #12
I made some progress, the build is successful but I get unit test failures:
https://dbweb6.fnal.gov:8443/TestCI/app/view_builds/index?offset=0&builds=icarus_ci%2F927&builds=

the two unit test [failing](https://dbweb6.fnal.gov:8443/TestCI/app/build_detail/phase_details?build_id=icarus_ci/927&platform=Linux%203.10.0-1127.el7.x86_64&phase=unit_test&buildtype=slf7%20e19:prof)  seem to belong to `sbnd

[2020-08-04 18:25] PetrilloAtWork commented on #12
It looks like `sbnd_data` is [not set up](https://dbweb6.fnal.gov:8443/TestCI/app/storage/docs/2020/08/04/buildSBNICARUS%23QuYddx8.log) (note line 151).
Are you setting up SBND UPS?

[2020-08-04 18:27] PetrilloAtWork commented on #12
To be explicit: in my local configuration I have to set up UPS areas for LArSoft, ICARUS, SBND _and_ MicroBooNE.

[2020-08-04 21:55] vitodb commented on #12
Thanks for drive me through this :)
I made some more steps forward and I was able to run [integration tests](https://dbweb6.fnal.gov:8443/TestCI/app/build_detail/phase_details?build_id=icarus_ci/929&platform=Linux%203.10.0-1127.el7.x86_64&phase=ci_tests&buildtype=slf7%20e19:prof), (only ICARUS ones) but some are failing.
Looking at logs it looks like some libraries from MicroBooNE interfere with I

[2020-08-04 23:59] PetrilloAtWork commented on #12
Well, they are not more failing than the regular ICARUS ones, are they?
The main problem is that quick tests use reference files from the previous stage as input. The reference files are old, outdated and refer to an old geometry. The cosmics + neutrino jobs detect the discrepancy, try to load the old geometry, and fail (mostly because [the whole feature is flawed](https://cdcvs.fnal.gov/redmine/i

[2020-08-05 00:13] vitodb commented on #12
Maybe you are right that some failures for ICARUS CI test suite are expected, but the failure mode let's me think that the failure will not be fixed after ICARUS CI test suite and reference files will be updated.
The failure mode for `[single_reco_quick_test_icaruscode](https://dbweb6.fnal.gov:8443/TestCI/app/storage/docs/2020/08/04/stdout%23HpCzq7v.log)`

This looks to me as library clashing betw

[2020-09-08 00:21] PetrilloAtWork commented on #12
_**groan**_
Yes, need to fix that.

[2020-09-08 00:39] PetrilloAtWork commented on #12
Pull request #51 of `icaruscode` should fix that.

[2020-09-08 21:01] PetrilloAtWork commented on #12
With @vitodb we have decided to import (`cherry-pick`) that fix in the branch we are using for the C.I. test (`feature/repositoryRestructuring`).
"I claim it should workⓇ".

[2020-09-08 21:31] vitodb commented on #12
With the last update to `feature/repositoryRestructuring` branch of `icaruscode` the previous issue is gone, but a new library clash shows up for [single_reco_quick_test_icaruscode](https://dbweb6.fnal.gov:8443/TestCI/app/storage/docs/2020/09/08/stdout%23XIYAknh.log) and similarly for [nucosmics_reco_quick_test_icaruscode](https://dbweb6.fnal.gov:8443/TestCI/app/storage/docs/2020/09/08/stdout%23qc

[2020-09-09 00:51] PetrilloAtWork commented on #12
I have updated `feature/repositoryRestructuring`. _Again_.
You have no excuse now!
(I finally surrendered and run `test_runner` locally)

[2020-09-09 14:23] vitodb commented on #12
That extra effort to use `test_runner` payed out.
Now ICARUS CI tests for `feature/repositoryRestructuring` within `sbncode` environment give the same results of ICARUS CI tests standalone.
Results are available [here](https://dbweb6.fnal.gov:8443/TestCI/app/view_builds/index?offset=0&builds=icarus_ci%2F1058&builds=) in the `icarus_ci/1058` CI build.

[2020-09-10 14:47] PetrilloAtWork commented on #12
Great!
Can a SBND (`sbndcode`) workflow be set up in the same way?
I think that is the last thing we need for this part of the test.

[2020-09-10 16:32] vitodb commented on #12
In the current CI workflow configuration we tests `sbncode`, `icaruscode`, `sbndcode` and `sbnobj`
in the same environment.
And CI tests for  `icaruscode` and `sbndcode` are exercised.
So I think we are there.

[2020-09-11 13:51] cjbackhouse commented on #13
I found an analysis module in `icaruscode`

 `lar -c CRTSimAnalysis.fcl /pnfs/icarus/persistent/stash/ContinuousIntegration/reference/standard/reco/single_reco_test_icaruscode_Reference.root` doesn't crash, but it also doesn't find any CRT info:

`found 0 CRTData` and `CRTHit products not found! (expected if gen/G4/detsim step)`

seems like the CI file doesn't actually have much CRT stuff in it?

[2020-09-15 16:36] PetrilloAtWork commented on #12
Thank you a lot, @vitodb.

[2020-09-15 16:36] #12 closed

[2020-09-15 16:54] cjbackhouse commented on #13
Gianlucca generated some Corsika events with v08_57_00 with digits but not reconstruction.
They are at `/icarus/data/users/petrillo/LArSoft/production/v08_57_00/e19_prof/logs/standard_detsim_icarus/20200911-00/prodcorsika_standard_icarus_20200911T150809-GenCorsika_20200911T153941-G4_20200911T154640-DetSim.root`.
Or at `/pnfs/icarus/scratch/users/petrillo/for/bckhouse/` for the next few weeks.

The

[2020-09-15 16:54] PetrilloAtWork commented on #6
Given the comments and the status, I am:

1. detach the question on `genie_xsec` as a separate, non-blocking issue
2. closing this issue as completed

[2020-09-15 16:54] #6 closed

[2020-09-15 16:56] PetrilloAtWork opened #15 "Move dependency on GENIE cross section package from experiment repositories to sbncode"
Both experiments depend on GENIE cross section, and there is value in having them share the same version of those.
Technically, the dependency can be moved into `sbncode`.

[2020-09-15 16:58] PetrilloAtWork commented on #15
Discussion on this topic (involving also other dependencies) has been running in issue #6

This issue does not block the refactoring, as the change can easily happen after it.

[2020-09-15 17:02] PetrilloAtWork opened #16 "Update data products from ICARUS in sbncode"
Data products have been moved from `icaruscode` to `sbncode` some time ago.
They should be updated to the latest versions.

[2020-09-15 17:04] PetrilloAtWork commented on #16
Trigger data products need update.
CRT data products need to be checked.

[2020-09-15 17:05] PetrilloAtWork opened #17 "Update data products from SBND in sbncode"
Data products have been moved from `sbndcode` to `sbncode` some time ago.
They should be updated to the latest versions.

[2020-09-15 17:49] PetrilloAtWork commented on #11
This needs to be repeated for the final "target" version.

[2020-09-15 21:35] PetrilloAtWork commented on #9
This has been moved to the testing phase (#13).

[2020-09-17 23:14] PetrilloAtWork commented on #14
I have evaluated the possibility in the following way:
1. I removed the dependency from `ups/product_deps` and made minor adjustments
2. it still compiles
3. I pushed (`feature/repositoryRestructuring`, commit 3b5ef0d)

So long, `uboonecode`. Although probably the part that is not compiled might still depend on it.

[2020-09-17 23:14] #14 closed

[2020-10-02 14:45] wesketchum opened #21 "PMTFlashTriggerMaker should use a MapAlg tool and not sbndPDMapAlg directly"
Current code is a bit clunky with a `if(SBND)` statement. Think it's better to implement the MapAlg as a tool, and have ICARUS/SBND define ones to use.

(Ideally this should be coming from larsoft geometry somehow? Not sure why this is really needed here...but can figure that out later.)

[2020-10-16 14:28] absolution1 opened #25 "Pandora's track/shower feature ID identifier segfaults (rarely) in icarus"
The PR for the LArContent fix is here: https://github.com/PandoraPFA/LArContent/pull/146

The fix should be going into LArSoft next week, pending some other urgent pandora improvements that have to take precedence.

[2020-10-16 14:47] wesketchum opened #27 "Add in updated SBND flash matching"
Pending merge of  https://github.com/LArSoft/larsim/pull/44.

[2020-10-16 18:14] wesketchum commented on #3
This has been done, to my knowledge. Closing.

[2020-10-16 18:14] #3 closed

[2020-10-16 18:14] wesketchum commented on #2
Done, and part of the new releases. Closing.

[2020-10-16 18:14] #2 closed

[2020-10-16 18:15] wesketchum commented on #7
OK, not that this is urgent, but I want to ping on this. Can we get a time estimate for when we need this?

[2020-10-16 18:17] wesketchum commented on #8
I think this is duplicated by #7 . Going to label as duplicate, but once confirmed we should close.

[2020-10-16 18:18] wesketchum commented on #9
Initial implementation done. Closing.

[2020-10-16 18:18] #9 closed

[2020-10-16 18:19] wesketchum commented on #11
Done. Closing.

[2020-10-16 18:19] #11 closed

[2020-10-16 18:20] wesketchum commented on #13
Believe this is done. Closing.

[2020-10-16 18:20] #13 closed

[2020-10-16 18:22] wesketchum commented on #15
Can we get an update on this @PetrilloAtWork ?

[2020-10-16 18:40] wesketchum commented on #21
I believe this is now in and tested to work. Closing.

[2020-10-16 18:40] #21 closed

[2020-10-16 19:36] wesketchum opened #28 "Document list of "standard" fcl files for SBN jobs"
Make a nicely documented site for listing standard fcl files. Needs to have an avenue for being updated as needed, with as little maintenance that we can image.

Could also include "common configuration" set.

[2020-10-19 17:45] vitodb opened #29 "sbncode is missing c7 builds"
While testing SBND CI workflow using sbndcode from CVMFS, I found out that sbncode is missing the c7 build.
In the updated CI workflow the CI will build sbncode for c7 itself, so this is no more an issue for the CI, but users could still require it.

[2020-10-19 20:34] wesketchum opened #30 "Test issue"
Testing automating add to project ...

[2020-10-19 20:40] #30 closed

[2020-10-20 17:24] vitodb commented on #29
@wesketchum, from a chat with @ascarff we figured out that to be able to exercise CI builds for c7, ups/product_deps needs to include support for c7 compiler.
This will allow the CI to build and test sbncode for c7 on its own, until then CI builds for c7 will continue to fail.

[2020-10-20 22:32] wesketchum commented on #29
Added in this commit: https://github.com/SBNSoftware/sbncode/commit/be7d5d75dbe3f605f48965dac03a733ed6e03805

(and a similar commit for sbnobj). Hopefully all good now! Closing...

[2020-10-20 22:32] #29 closed

[2020-10-21 16:03] wesketchum opened #32 "c7 builds failing"
CI build error log here

https://dbweb5.fnal.gov:8443/LarCI/app/ns:sbnd/storage/docs/2020/10/20/buildSBND%23lodHpSd.log

[2020-10-21 16:26] cjbackhouse commented on #32
The error seems to implicate StandardRecord - specifically something deep goes wrong in castxml
What was the status of castxml for c7. I thought we didn't have it?

Even so, I'm confused. Looks like something within TVector3 trips it up. But I know we removed all the TVector3 instances from StandardRecord and replaced them with SRVector3D. Did one sneak back in? I thought all the CAF work was on a

[2020-10-21 17:41] wesketchum commented on #32
Maybe @gputnam can comment on what is in or not, as some recent merges maybe adjusted things (but maybe not...)

Re castxml: there's no compiler qualifier for it. Perhaps that's a bug?

I'm digging further into this now. There's still the include of TVector3 in the header: https://github.com/SBNSoftware/sbncode/blob/develop/sbncode/StandardRecord/SRVector3D.h#L9

[2020-10-21 17:56] wesketchum commented on #32
OK, to reproduce, on build/gpvm machines ...

[code]

[2020-10-21 18:31] cjbackhouse commented on #32
I committed a workaround to develop.

I had unrelated troubles with CAFMaker (undefined references to GeometryCore) and OscLib (needs some pragmas that quiet down a warning to be put inside some kind of gcc-only guard) and commented them out of my local build.

[2020-10-21 20:49] wesketchum commented on #32
OK, https://github.com/SBNSoftware/sbncode/tree/feature/wketchum_c7Builds has some more commits to try to get this working.  Getting errors like this in current state:

[code]

[2020-10-21 23:13] cjbackhouse commented on #32
I pushed a fix to that same branch. Apparently clang has different rules for explicit template instantiations?

[2020-10-21 23:32] cjbackhouse commented on #32
I also pushed a fix for the Geometry linking issue, and a few other tidy ups. feature/wketchum_c7Builds now builds fully for me.

[2020-10-22 08:54] absolution1 commented on #25
This was fixed in PR https://github.com/LArSoft/larpandoracontent/pull/14 to the larsoft mirror of `larcontent`.
This PR has been merged.

[2020-10-22 08:54] #25 closed

[2020-10-22 13:26] #32 closed

[2020-10-22 19:41] wesketchum opened #35 "Wildcards in CMake causing ninja problems?"
CI builds using ninja were failing, and could be fixed by removing wildcards from the cmake files (see branch feature/wketchum_NoWildcard). For now we'll have CI not use ninja, but in the future would be good to arrange things such that ninja can work (while also including everything properly).

Thanks to @vitodb and @cjbackhouse for talking through this.

[2020-10-23 16:44] #27 closed

[2020-10-23 16:59] cjbackhouse commented on #35
googling cmake syntax it looks like this should have been done with a line like
`FILE(GLOB SR_DEPENDENCIES $ENV{SBNCODE_DIR}/sbncode/StandardRecord/*.h)`
and then `${SR_DEPENDENCIES}` where I currently have the wildcard directly.

CAFAna/StandardRecord/Proxy/CMakeLists.txt should actually have the same logic too, rather than just the StandardRecord.h it currently depends on.

[2020-10-30 13:25] wesketchum commented on #35
Sorry, didn't mention this yesterday, but this has now been fixed with v09_09_00. Closing.

[2020-10-30 13:25] #35 closed

[2020-11-03 15:28] wesketchum opened #37 "Reduce file sizes"
Test and make configurations for reducing the overall file sizes.

[2020-11-03 15:29] wesketchum opened #38 "CAF production workflows"
Get CAF files as part of standard production workflows.

[2020-11-03 15:30] wesketchum opened #39 "Define optical simulation models for SBND and ICARUS"
Finalize evaluation of semi-analytical or library-based optical simulation for use in 2021A production

[2020-11-03 15:31] wesketchum opened #40 "Finalize migration to new LArG4"

[2020-11-03 15:32] wesketchum opened #41 "Use recombination model that truly correlates charge and light production"
e.g. ArNEST

[2020-11-03 15:33] wesketchum opened #42 "Develop event overlay utilities"
For use of both data in ICARUS, and cosmic simulation in SBND.

[2020-11-03 15:33] wesketchum opened #43 "Enable "2D drift simulation""

[2020-11-03 15:34] wesketchum opened #44 "Enable "2D signal processing""
to go along with 2D drift simulation

[2020-11-03 15:35] wesketchum opened #45 "Detector simulation variation utilities"
Develop utilities for doing detector variations/systematic evaluation

[2020-11-03 15:35] wesketchum opened #46 "Systematic evaluation with CAF files"
Develop/verify ability to do systematic uncertainty evaluations with CAF output files

[2020-11-03 15:55] wesketchum opened #47 "Refactor/make common CRT reconstruction algs"
Need to do refactoring maintenance on the CRT reco pieces that had to be overlooked for 2020A production. Includes getting CRT matching into the CAFs.

[2020-11-03 19:11] jzennamo opened #48 "sbncode does not build standalone, it requires sbnobj to be checked out too"
When one tries to build only sbncode the build crashes here:

`/sbnd/app/users/jaz8600/ChrisTest/srcs/sbncode/sbncode/LArRecoProducer/CRTHitConverter_module.cc:22:10: fatal error: sbnobj/Common/CRT/CRTHit.hh: No such file or directory
 #include "sbnobj/Common/CRT/CRTHit.hh"
          ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~
compilation terminated.
make[2]: *** [sbncode/sbncode/LArRecoProducer/CMakeFiles/sbnc

[2020-11-04 18:30] cjbackhouse commented on #48
is this as simple as adding `find_ups_product( sbnobj )` to the CMakelists.txt?

[2020-11-04 18:30] wesketchum commented on #48
It is. Will be fixed as of v09_09_01 release (missing `find_ups_product` in the parent CMake)...

[2020-11-04 18:32] wesketchum commented on #48
(commit b8d3cd0657b48d43a10eca0ee4ca4fea8d26983e, if one needs to pull it separately...)

[2020-11-06 16:52] cjbackhouse opened #53 "Set up more modern gdb and valgrind"
`setup gdb` and `setup valgrind` get you much more modern versions of these tools than you get from the base OS, versions that actually work. We should give these to users by default, but it's not quite clear to me where to put this, since they can't strictly be said to be dependencies of any of our packages.

[2020-11-09 12:12] etyley opened #54 "Example CAF scripts do not run"
The example scripts in [anademo](https://github.com/SBNSoftware/sbncode/tree/develop/sbncode/SBNAna/anademo) do not run. I get the following error:
[code]

[2020-11-09 16:10] cjbackhouse commented on #54
Fixed by
https://github.com/SBNSoftware/sbncode/commit/99a7a6b70b68939cea0429adbefa31706929c847
(merged into develop)

I expect there are other problems with the demos at the moment, given how much the CAFs have changed. CAFAna can read the current files, but there's no proper support for the spill-by-spill layout.

[2020-11-09 17:28] etyley commented on #54
Okay great, I will test it out.

When you say `no proper support` do you mean the `Cuts` and `Vars` or something deeper?

[2020-11-09 17:32] cjbackhouse commented on #54
Right. You should be able to make a macro that runs, and nothing will be broken per se, but Cuts and Vars will be passed entire StandardRecords, representing spills, whereas you really want to be classifying slices if you want to fill one entry per neutrino candidate into a Spectrum.

[2020-11-09 17:51] etyley commented on #54
Okay, so I guess I can run some tests for events without cosmics where, generally, there should be a single slice.

I assume someone is working/planning to work on this?

[2020-11-09 17:54] cjbackhouse commented on #54
Yeah, I hadn't realized the CAFs were so far along in this transition.

[2020-11-10 15:33] mendezdpatricia commented on #54
@cjbackhouse , does each var and cut definition has to be changed to work spill by spill, but still getting all the slices, or does the change have to come from upstream? I'd like to start seeing if I can do something about it, or wait until more expert hands work on it.

[2020-11-10 15:40] cjbackhouse commented on #54
The plan is to make SpectrumLoader hand you slices rather than spills, so that for most analysis code it is as if we had slice-by-slice files again. What I haven't figured out is exactly how best to provide access to global spill info (like `hdr`).

[2020-11-10 17:04] wesketchum commented on #53
Maybe just have a sample setup script in a `tools` directory that has some examples? Don't think we should add a dependency of course.

[2020-11-10 17:13] #48 closed

[2020-11-11 17:34] wesketchum commented on #28
Including a list of standard products/labels would also be useful.

[2020-11-16 18:14] cjbackhouse opened #58 "Look into adopting some duneutil tools"
NOvA originated some scripts, which are now also available in duneutil, which I think are very useful. Perhaps SBN already has equivalents, in which case please point me to them, but if not I think we should look into adopting these.

setup_fnal_security - takes care of getting all the various tickets you need to work with the grid, xrootd, etc. This is all very confusing, and the advice keeps cha

[2020-11-18 08:59] #54 closed

[2020-11-18 09:05] etyley opened #60 "CAF duplicated reco in slc missing information"
The duplication of the `trk` and `shw` branches within the `slc` branch (added [here](https://github.com/SBNSoftware/sbncode/commit/3e6ebb0db79c75b90d8e4e36a68e23d55eb09bc4)) is incomplete as the shower energy and dEdx are not filled whilst they are filled in the original `rec` branch. The `daughters` branch is filled in neither the `trk` or `shower` branches.

[2020-11-18 13:43] cjbackhouse commented on #60
It's pretty clear from the code that these have to get filled correctly.

I think you're running into ROOT's bizarre limitations with multiply-nested vectors. Once you get beyond two levels it likes to tell you things are zero.

The solution to this is probably to use flatcafs. The FlatMaker module can run after CAFMaker, or you can use the `convert_to_flat` executable. The resulting files behave

[2020-11-19 06:58] mendezdpatricia commented on #60
I see that `convert_to_flat` requires `sbncode/FlatMaker/FlatRecord.h` but I do not find it in sbncode, is it actually needed and should it be ported from other location?

[2020-11-20 12:58] cjbackhouse commented on #60
Discussed FlatMaker offline. I think this is all understood / resolved.

[2020-11-20 12:58] #60 closed

[2020-11-20 13:09] cjbackhouse opened #62 "shw.energy, shw.dEdx and FlatCAFs"
We have a little bit of a mess with the flatcafs that needs to be straightened out.

Due to my oversight, `convert_to_flat` wasn't propagating the POT information until this morning, so Gray will have to remake the MCP2020A flatcaf file. Sorry!

While looking into doing that myself, I ran into a bit of a complication with `reco.shw.energy`. Due to the nested-vectors fiasco, this array was inaccess

[2020-11-20 14:12] mendezdpatricia commented on #62
Pushed commit 376bde3 to address this.

[2020-11-23 21:49] jzennamo commented on #28
Here is what I understand as the "standard" fcls:

*SBND, w/ cosmics*
- G4: g4_3drift_windows_sce.fcl
- DetSim: detsim_3drift_windows_sce.fcl
- Reco1: reco1_3drift_windows_sce.fcl
- Reco2: reco2_3drift_windows_sce.fcl

*SBND, w/o cosmics*
- G4: g4_enable_spacecharge.fcl
- DetSim: standard_detsim_sbnd.fcl
- Reco1: standard_reco1_sbnd.fcl
- Reco2: reco2_sce.fcl

*ICARUS*
- G4: g4_enable_spacecharge.

[2020-11-24 11:05] absolution1 commented on #28
Hi @jzennamo
Some of those are not the standard SBND FCLs.
All of the standard FCLs have standard in the name, so you'd also need
 - standard_g4_sbnd.fcl
 - standard_reco2_sbnd.fcl

If SCE is supposed to be a standard part of the simulation chain then it should be enabled in the appropriate configuration fcl (so that standard_g4_sbnd.fcl picks it up) and we'd need to make override FCLs to disable

[2020-11-24 15:09] jzennamo commented on #28
Hi @absolution1

What I listed here as "standard" were listed as such because they are the ones being run by production. In some sense they are the "standard production fcls" by force ;)

I am listing them here so we are aware what is being run by production, can make sure our "standard fcls" match them, and to become aware if there is a large variance in our understanding in the term "standard".

[2020-11-24 15:22] wesketchum commented on #28
@absolution1 , if Joseph's list and the named "standard" files in SBND don't match, then I think the latter need to be updated as that was the agreed on fcl file list for the latest production, which to my understanding is the desired standard for physics selection work.

[2020-11-24 15:31] absolution1 commented on #28
Yep, we're saying the same thing @wesketchum
My understanding is that the only 'things' different between the standard FCLs and what production ran are
 - The space charge service needs enabling in its configuration fcl
 - The standard reco file needs to include the SCE-corrected reconstruction in its pathway

Sim/calib would need prodding to bring the simulation into whatever config they consider

[2020-12-04 13:44] cjbackhouse opened #65 "Port file_size_ana"
This is a useful tool. Fernanda has a working version that should be cleaned up and committed.

[2021-01-27 19:42] jzennamo opened #69 "Integrate CI Validation into pull-requests"
When a pull-request is issued trigger a CI validation and have the results of that validation be reported back on the pull-request to enable a rapid validation of code changes

[2021-01-27 19:43] jzennamo opened #70 "Write instructions for issuing a pull-request"
Layout step by step our expectation of what is needed for a pull-request to be approved and merged into our code

[2021-01-27 19:44] jzennamo opened #71 "Create and document a standard set of workflows for both detectors"
Determine the standard set of workflows for both experiments that are supported, document which fcls are run to achieve this, and layout instructions for how to modify these workflows

[2021-01-27 19:46] jzennamo opened #72 "Provide a census of data-products and configurations that drive file sizes"
Go through the files from the recent production, identify the largest data-products, determine methods to reduce them or eliminate them if they are not needed downstream

[2021-01-27 19:47] jzennamo opened #73 "Integrate file-size reduction into standard workflows"
Integrate reductions identified in issue #72 into the standard workflows

[2021-01-27 20:05] jzennamo opened #74 "Profiling standard workflows to identify modules that require the most resources"
Perform a census of each module run during production to determine its resource usage to identify places where we can improve memory usage and CPU time usage

[2021-01-27 20:33] jzennamo opened #75 "Create an updated production planning and coordination model"
Build a computing model that enables us to forecast production timelines and resources requirements to meet our physics goals

[2021-02-03 16:14] ikatza opened #84 "SBNCode doesn't build standalone"
Following the split of `sbncode/sbnana` I can't build `sbncode` on its own.

I'm getting a few errors like this:

[code]

where crucially the path to `StandardRecord.h` is not included.

[2021-02-03 17:27] cjbackhouse commented on #84
Do you have a version of sbnanaobj set up at all?
If not, shouldn't we have got an error somewhere saying we couldn't find it?

[2021-02-03 17:30] cjbackhouse commented on #84
Does adding a `find_ups_product(sbnanaobj` to `sbncode/CMakeLists.txt` help?

[2021-02-03 17:43] ikatza commented on #84
The ups product is set:

[code]

Adding `find_ups_product(sbnanaobj` to `sbncode/CMakeLists.txt` does help. It can now build all the way to the end.

Thanks.

[2021-02-03 18:44] cjbackhouse commented on #84
Could you make a PR?

[2021-02-03 19:08] ikatza commented on #84
https://github.com/SBNSoftware/sbncode/pull/85

[2021-02-08 19:55] PetrilloAtWork opened #86 "Bad Version: sbnobj 1.70.0 is less than minimum required version 1.50"
Building `icaruscode` `v09_15_00` I encountered the following CMake error:
[code]
I can't fully understand what's happening, but I drop here a point: as far as I know, specifying a minimum version in `find_ups_products()` macro (like in SBNSoftware/sbncode:CMakeLists.txt) is not necessary; now I find it actually deleterious.
I have solved it locally by checking out `sbncode` in my working area and

[2021-02-08 21:16] cjbackhouse commented on #86
Does `1.50` need to be `1.50.0`?

[2021-02-08 21:52] PetrilloAtWork commented on #86
That's one question. Another is where that version number comes from.
I haven't noticed anything even remotely close to `1.70.0`.
That's why I would use the sledgehammer and get rid of those versions.

[2021-02-09 14:59] #84 closed

[2021-02-09 14:59] cjbackhouse commented on #84
Fixed by #85 (I hope)

[2021-02-09 15:15] cjbackhouse commented on #62
I believe this is all now ancient history and resolved.

[2021-02-09 15:15] #62 closed

[2021-03-26 13:44] cjbackhouse opened #102 "Improve FlashMatch error message"
I got
<pre>
%MSG-s ArtException:  FlashPredict:fmatchREDO@Construction  26-Mar-2021 08:33:46 CDT ModuleConstruction
cet::exception caught in art
---- FatalRootError BEGIN
  Fatal Root Error: TFile::TFile
  file name is not specified
  ROOT severity: 3000
---- FatalRootError END
</pre>
which didn't give me very much to go on. It turns out the problem is I hadn't setup the `sbnd_data` product. It wo

[2021-03-26 14:02] ikatza commented on #102
I'll look into it.

[2021-03-26 15:15] ikatza commented on #102
Made a PR for this. Messages look like this now:

[code]

[code]

[2021-03-26 15:24] ikatza opened #105 "Inconsistent units of energy in CAFMaker"
I've noticed that the units of energy whenever dealing with a truth quantity are in **GeV**, whilst reconstructed quantities; and actually maybe only `rec.reco.slc.shw` are in **MeV**.

Not a deal breaker, but it's a minor nuisance that seems unnecessary to me.

[2021-03-26 15:26] cjbackhouse commented on #105
My vote is strongly for GeV/cm/ns everywhere. We're literally about to produce files with the current code, so I think we will have to sit tight on this for a while.

[2021-03-26 16:58] gputnam opened #106 "CAFMaker aborts if there are no weights present"
In commit https://github.com/SBNSoftware/sbncode/commit/9659ce2230cdcb98827932f7900a925f21705a02, an explicit call to `abort` was added into CAFMaker if there are no weights present.

This is a mistake -- CAFMaker is intended to fail gracefully if any data products are not present in the input file.

[2021-03-26 17:06] cjbackhouse commented on #106
I'm confusing myself, because this code doesn't appear to exist in this form anymore.

We're now using an Assn rather than indices to do the matching.

[2021-03-26 17:09] cjbackhouse commented on #106
https://github.com/SBNSoftware/sbncode/blob/develop/sbncode/CAFMaker/CAFMaker_module.cc#L757

[2021-03-26 19:54] gputnam commented on #106
Ah, I see, I missed that.

Ed had told me that there was an issue running CAFMaker over an event with no weights -- @etyley did I misdiagnose the issue? Is there something else going on?

[2021-03-29 08:15] etyley commented on #105
My understanding is that this is largely inherited from the units that are used within LArSoft, so I guess it depends whether we want to main consistency between the `recob` and `SR` products or be consistent within the CAFs.

[2021-03-29 08:19] etyley commented on #106
There is still a `GetByLabelStrict` [here]. (https://github.com/SBNSoftware/sbncode/blob/1f6a5000741aff68fa6690adf42c706a79a3f2da/sbncode/CAFMaker/CAFMaker_module.cc#L350)

I retested this morning and running with `v09_19_00_01` I get the following error still:
[code]

[2021-03-29 08:27] etyley opened #107 "SBN Event Weight throws exception when running on cosmic-only sample."
When running tests for the upcoming production I found that the event weight refused to run on a sample without neutrino interactions, meaning we must use separate workflows in the production, which was not the expected behaviour after discussion in the SBN analysis infrastructure meeting. The error was:
[code]

[2021-03-29 10:49] cjbackhouse commented on #106
I would argue that CAFMaker is working as designed - if you don't intend to have weights in the CAF, set the label to `""`. If you aren't sure / want best-effort, set `StrictMode: false`. I don't know why the weights should necessarily treated differently to any other product in this respect.

I thought the fix we were discussing on Thursday was that the weight calculator would put out an empty ve

[2021-03-29 10:56] cjbackhouse commented on #105
One benefit of having the additional CAF layer is that you can fix infelicities in the underlying art structures there, and most analyzers will be none-the-wiser.

What actual larsoft products are we talking about though? If they are in our control we should fix them, and if they're in larsoft proper we should at least attempt to argue for sanity.

[2021-03-29 10:58] etyley commented on #106
Yeah, I think that a fcl change is all that is needed here to fix the workflow for files without the reweighting, which is all of the current MC production.  I don't really know which is the better solution as it would be great if the CAFMaker picked up the weights if available but turning off strict mode also affects all of the other products. I will leave it to people with more experience, and s

[2021-03-29 11:10] etyley commented on #105
For Iker's example, the `recob::Shower` in LArSoft uses `MeV` for the energy and `MeV/cm` for dE/dx.

[2021-03-29 14:35] cjbackhouse commented on #107
I was thinking like this:
https://github.com/SBNSoftware/sbncode/compare/feature/evtwgt_cosmic

So you can either set the generator label to `""`, or if you want to run the same fcl over both genie and cosmics you can leave it set to "`generator`" but set the option to allow it to continue even if it doesn't find MCTruths.

I'm not proposing a merge just yet because I didn't quite understand the f

[2021-03-30 22:13] gputnam commented on #106
Closing as a duplicate of https://github.com/SBNSoftware/sbncode/issues/107.

[2021-03-30 22:13] #106 closed

[2021-03-30 22:19] gputnam commented on #107
I want to add one other comment to this issue. On this point (from the other issue):

I disagree. The problem is that the large majority of times we run CAF, the input files don't contain systematic weights (even MC files). This isn't like a piece of reconstruction information that should always be present. Having a base configuration of the CAFMaker that fails over the majority of files is a prob

[2021-03-30 22:21] gputnam commented on #105
I agree with enforcing unit consistency -- we do this in a number of other places in CAFMaker already (lots of dividing or multiplying by 1000).

[2021-03-30 22:28] cjbackhouse commented on #107
Is this going to be true going forwards? In the steady state I would naively expect the weights to be run just after the genie step, and then carried around in all the downstream files.

We do definitely want to be able to run the regular configuration over data, or over cosmics. I was going to write that if there is no MCTruth we won't try to find weights for it, but I think that might not be tru

[2021-03-30 22:32] wesketchum commented on #107
Reweighting often needs to be done after initial generation, and so I would not assume that it will be done in an initial stage like this.

Side note: looping in @FernandaPsihas and @PetrilloAtWork so they can weight in on this.

[2021-03-30 22:34] cjbackhouse commented on #107
One can always rerun the weights module after the fact if there are new configurations etc. I want to be in a world where it's generally safe to assume that systematic weights exist, so people can put error bands on plots in the general case, rather being some special big-effort thing that's only done specially for an oscillation analysis.

In fact, we should definitely add code to check that the

[2021-03-30 22:41] gputnam commented on #107
I don't know what the final steady state will be. But right now files almost never have systematic weights. And there are a bunch of types of simulations where gen weights don't make sense (cosmics, single-particle gen, certain BSM models).

Systematic weights can also be very expensive -- both to run and to save on disk. Most current uses of CAFMaker don't require systematic uncertainties. So I w

[2021-03-30 22:58] cjbackhouse commented on #107
I put another commit on the same feature/evtwgt_cosmic branch that should help out in the cosmics/single particle/data case, but doesn't help in the case of neutrino simulation without weights
https://github.com/SBNSoftware/sbncode/commit/aedb741e02057e08919447d14a7e926c14416af4

[2021-03-31 04:40] PetrilloAtWork commented on #107
"There is" also [`art::Event::experimentType()`](https://nusoft.fnal.gov/larsoft/doxsvn/html/classart_1_1EventAuxiliary.html#a8d92e398e001ae947f3161ec818b9511), which despite the name seems to indicate the [type of data](https://nusoft.fnal.gov/larsoft/doxsvn/html/classart_1_1EventAuxiliary.html#a3303dac9fa943e3d07b8fff9654775aa) in the event.
I would consider setting it correctly and then use it

[2021-03-31 12:53] etyley commented on #105
If the consensus is that unit consistency is the best way forward I will make the change. This will break many of the existing analysis scripts so will take a bit of time to get everyone up to date. I will bring this up in an upcoming CAF infrastructure meeting then get this done after the workshop.

[2021-03-31 22:15] mastbaum commented on #107
@cjbackhouse's solution of checking existing of `MCTruth` in the producer module looks reasonable to me, and at least for now making weights a best effort thing where downstream code will handle their absence gracefully. The new `AllowMissingTruth` parameter should go in the parameter set for the module, e.g. here: https://github.com/SBNSoftware/sbncode/blob/feature/evtwgt_cosmic/sbncode/SBNEventW

[2021-04-01 17:41] cjbacchus opened #109 "Quiet down SBNEventWeight"
There are a large number of `INFO` and `NOTICE` messages printed out, especially at startup.

Tips for how to quiet things from @candreop

The default settings are here: https://github.com/GENIE-MC/Generator/blob/master/config/Messenger.xml
Many GENIE apps provide a --message-thresholds argument to override this. If, within LArSoft, one couples to GENIE classes directly, somewhere at initialisatio

[2021-04-01 18:19] cjbackhouse commented on #107
See https://github.com/SBNSoftware/sbncode/pull/110 for the fixes proposed above, plus some other fcl changes that help with this problem.

What is the right thing to do with some of the other discussion here? Make new issue capturing the points?

[2021-04-02 12:20] wesketchum commented on #15
Would be good to make sure this is resolved...

@marcodeltutto I'm assigning this to you to look at when you can. Ping @PetrilloAtWork for more details if needed...

[2021-04-02 12:34] wesketchum commented on #7
@gputnam : this is now well obsolete, yes? If so can you close this issue?

[2021-04-02 12:37] wesketchum commented on #58
Since most of these are production/data management related, I'm going to assign this to @mayawos and @mattfcs, and suggest they delegate. Think these may be good topics to take on for people getting started in production and data management...

[2021-04-02 13:43] wesketchum opened #111 "github slack integration test"
New test issue for slack integration

[2021-04-02 13:44] #111 closed

[2021-04-02 13:56] wesketchum opened #112 "Correct the time and spatial structure of the BNB beam-spill to the default neutrino generation fcls"

[2021-04-02 13:58] wesketchum commented on #112
@jzennamo I think this came from you, and we should verify that it is still an issue.

[2021-04-02 14:05] wesketchum commented on #37
This is largely a duplicate of other ongoing work, so I am closing it.

[2021-04-02 14:05] #37 closed

[2021-04-02 14:39] wesketchum commented on #107
I agree with making new issues that capture the other points not covered by #110

[2021-04-02 14:46] wesketchum commented on #86
@PetrilloAtWork you updated CMake files a bit ago ... is this now fixed?

[2021-04-02 14:50] wesketchum commented on #65
@FernandaPsihas any updates?

[2021-04-02 15:17] #107 closed

[2021-04-02 15:46] jzennamo commented on #112
@PetrilloAtWork described this to me so he is a good person to pull into this

[2021-04-02 15:57] cjbackhouse commented on #53
Just as a data point, I spent 20mins yesterday trying to figure out how to setup `samweb`. So I definitely think we need to try and make a one stop place to setup some reasonable software. I don't know if we can just include it in, say, setup_sbnd.sh. It can be a total pain at the moment.

[2021-04-03 07:28] #102 closed

[2021-04-28 15:27] PetrilloAtWork commented on #112
Let me summarise the issue: GENIE generator + _nugen_'s `GENIEhelper` + LArSoft module `GENIEGen` are not able to place the interaction so that its locations and time are compatible with the expected flight of beam neutrinos.
For a given interaction time, there are only a few regions of the detector where an interaction may happen (one in 5-m SBND, about three in 18-m ICARUS), and in each given po

[2021-05-06 15:14] PetrilloAtWork commented on #112
I see some [activity in `nugen`](https://cdcvs.fnal.gov/redmine/projects/nutools/wiki/GENIEHelper/44/diff) by Robert Hatcher that might be related and might be leading to a solution.

[2021-05-12 12:41] cjbackhouse opened #162 "Fill detector flag properly in CAFs"
`slc.truth.det` is unfilled (`kUNKNOWN`). `hdr.det` is hardcoded to `1` (i.e. SBND) in `CAFMaker_module.cc`, which is even worse.

[2021-05-26 14:20] cjbackhouse commented on #105
@etyley I just saw this issue again. It's safely after the workshop now, can we make progress on this?

[2021-05-26 14:32] etyley commented on #105
Sure I will crack on with making the sbncode changes now. There is a question about what we want to do in sbnana: if we make the change in the Cuts there then they will not work properly on the latest set of `official` CAFs. However, if we delay this anyone making their own CAFs will run into the same issue. Maybe we need to discuss the policy on these sorts of breaking changes in an upcoming anal

[2021-05-26 14:35] cjbackhouse commented on #105
Yeah, I think the best you can really do is have the changes queued up, but only make them just before a new production to minimize the window for the worst confusion.

[2021-05-26 14:36] etyley commented on #105
I will make a draft PR for sbnana for now then

[2021-05-26 14:46] absolution1 commented on #105
Hey.
LArSoft is supposed to maintain a consistent set of units across the board.
dE/dx being in MeV/cm, while going against the grain, is sensible because it keeps the size of the numbers small.  And, like, everyone thinks of dE/dx as MeV/cm.

The recob::Showers should be changed in LArSoft if they aren't in consistent units.  In this specific instance, this is actually within our own remit to cha

[2021-05-26 15:04] etyley commented on #105
I imagine that making this sort of breaking change to LArSoft would break a large amount of downstream code, but we can start a conversation with the relevant people?

[2021-05-26 15:13] etyley commented on #105
I guess we could modify it there, but I am not a big fan of different modules (PandoraShower and EMShower) using the same object but with different units

[2021-05-26 16:32] absolution1 commented on #105
Fortunately PandoraShower doesn't reconstruct the energy, so that leaves EMShower.  I'd naively expect that changing EMShower's units would have a minimal impact as I'm not sure its used in many places across larsoft.
Obviously I'm pulling this thread off on a tangent.  I think we should strike up a conversation with SciSoft about this.

[2021-05-27 11:34] etyley commented on #105
I also made PRs to [sbnana](https://github.com/SBNSoftware/sbnana/pull/29) and [sbnanaobj](https://github.com/SBNSoftware/sbnanaobj/pull/18)

[2021-07-05 14:09] cjbackhouse opened #138 "Rationalize NonRes weights output from SBNEventWeight"
Currently, NonRes weights are saved in fewer combinations than we want physically, and then analysis code has to assign them to different event classes manually. This causes no end of complexity (see https://github.com/SBNSoftware/sbnana/blob/develop/sbnana/CAFAna/Systs/SBNWeightSysts.cxx#L161 for the kind of thing we're doing). I think it would be much better to save the actual systs we want into

[2021-07-13 01:55] brucehoward-physics opened #142 "Single cryostat truth info"
In FillTrueG4Particle in FillTrue.cxx of CAFMaker, it checks the volume where the particle is first in (cryostat_index) and then it gets the end point in this volume rather than overall end point.

So for tracks that start in one cryostat then go to the other, this creates complications (end point isn't the real end point).

I'm testing out an idea that would keep the start/end point in the initia

[2021-07-15 09:59] cjbackhouse commented on #142
I don't really know the details of how this would be used in analysis, but it seems like it would be more natural for the endpoint variable to store the true endpoint (potentially in the other cryostat), and add a new variable "endpoint in starting cryostat" (no good ideas for the name) that would presumably mostly duplicate that information, but be different in the case of cryostat-crossers.

[2021-07-15 16:12] brucehoward-physics commented on #142
Yeah that's fair - it would mean the definition of "endpoint" changes when this feature would be picked up but maybe that's okay since it's current meaning is non-intuitive?

I think that would be only a minor additional logic on what I described above. What I described above is basically start/end in initial cryo as it is now, and a new scdy_start/scdy_end that is probably usually default but fil

[2021-07-15 18:31] gputnam commented on #142
In my opinion -- the "true" endpoint is often not very useful because G4 tracks particles well outside the detector volume, whereas with a track/shower/whatever you only get to see the particle through the detector.

For example, (start - end).Mag() tells me a useful quantity if "end" is the last point in the detector, but basically gibberish if "end" is some random point where G4 stopped tracking

[2021-07-15 18:37] cjbackhouse commented on #142
I think I meant "true location of the last time the particle exited a cryostat". That is the value you want to be comparing to the endpoint of any reconstructed track, if you are allowing track stitching between cryostats.

[2021-07-15 18:39] brucehoward-physics commented on #142
That is also how I interpreted Chris's remark, hence "end in whichever cryo it is last in"

[2021-07-15 21:45] brucehoward-physics commented on #142
I am going to test this re-formulation of the idea but it does lead to a slight knock-on question -- the true particle quantities such as:

* crosses_tpc
* cont_tpc
* contained
* length
* wallout

Are currently also defined by the initial cryostat.

Crosses_tpc and cont_tpc should remain unchanged I think, as they are all really about the initial tpc. But "contained" could take on two meanings. Pr

[2021-07-20 00:44] brucehoward-physics commented on #142
The idea would be something like here: https://github.com/SBNSoftware/sbncode/commit/d83bb7b69b3b883b18db88b1186460952ffda043

[2021-07-28 15:49] wesketchum commented on #109
@mastbaum I know lots of other relevant work here, but any progress on this? Or can be shifted to another issue?

[2021-07-28 16:03] wesketchum commented on #86
@PetrilloAtWork believe this is fixed ... let me know if we should reopen.

[2021-07-28 16:03] #86 closed

[2021-07-28 16:08] wesketchum commented on #7
@PetrilloAtWork @FernandaPsihas @miquelnebot

Is this obselete? Would be good to close.

[2021-07-28 16:09] wesketchum commented on #8
I'm closing this as a duplicate of #7

[2021-07-28 16:09] #8 closed

[2021-07-28 22:05] wesketchum commented on #15
This may still be outstanding? @marcodeltutto can you comment? We can maybe have @miquelnebot help?

[2021-07-29 01:05] marcodeltutto commented on #15
Yes, it's been on my todo list for a while. If @miquelnebot can help that would be much appreciated, otherwise I can try to do it in the next days.

[2021-07-30 11:48] ikatza opened #153 "Doxygen for Simple-Flash Matcher"
Create doxygen compatible  comments for the Simple-Flash Matcher.

Related to PR #152

[2021-08-03 13:55] wesketchum opened #155 "BNB full osc fhicl configs"
Need "full osc" fhicl configs for SBND and ICARUS. May be more appropriate in sbndcode and icaruscode, but putting issue here as placeholder.

[2021-08-05 14:59] wesketchum opened #160 "Investigate multiple SCE collections in new LArG4"
Prompted by a presentation from @marcodeltutto , my understanding in the new larg4 is that there are two sim edep collections saved: one SCE shifted, one not, to properly handle inputs to photon and electron propagation.

I highly suspect this is non-optimal. We should:
* investigate if that's truly not optimal
* If so, modify workflows to reduce this need (e.g. electron drift module should just s

[2021-08-05 15:51] jzennamo commented on #155
SBND configuration:
https://github.com/SBNSoftware/sbndcode/pull/135

[2021-08-05 17:10] vitodb commented on #69
Currently PRs are tested with a set of two regression test suites `single` and `nucosmics` workflows. Results are reported as comments to the PR.

For Physics validation, that is performed through grid jobs to process an adequate number of events, requires a grid proxy. Currently we don't have a secure way to provide the proxy for a CI build that is triggered through a GitHub PR.
For this case we

[2021-08-06 10:32] #15 closed

[2021-08-09 21:48] jzennamo commented on #112
Looking at the ICARUS fcl files I see this line:
`SpillTimeConfig: "evgb::EvtTimeFNALBeam\nintensity  1.0\nsigma      2.00\ndtbucket   18.8313277969\nnperbatch  84\nnfilled    81\nglobal     0.0\n`

I expect that this is the configuration but I am not sure if this has been validated, can anyone comment on that?

[2021-08-10 14:54] jzennamo commented on #155
@cfarnese pointed me to the correct ICARUS files, I will be putting these together today

[2021-08-10 17:41] PetrilloAtWork commented on #112
The issue as I described in [the previous comment](https://github.com/SBNSoftware/sbncode/issues/112#issuecomment-833604352) still persists to my knowledge, and it is a deep one that requires a lot of work to fix and even to work around.
This said, as you show for ICARUS the time structure parameters (both BNB and NuMI) are in place and, as far as I know, roughly correct.

[2021-08-10 22:23] jzennamo commented on #155
ICARUS configurations:
https://github.com/SBNSoftware/icaruscode/pull/223

[2021-08-10 22:24] jzennamo commented on #155
Once these are merged this can be closed

[2021-08-10 22:41] wesketchum commented on #112
Moving to 2021C release.

[2021-08-12 16:20] etyley opened #164 "Move high level reconstruction out of CAFMaker fcl"
The CAFMaker fcl files currently run a large number of high-level reconstruction that is probably better suited to be run in the reco2 stage: https://github.com/SBNSoftware/sbncode/blob/5d1874962dba51a7ebab9eb6c8e7ef63498f81e1/sbncode/CAFMaker/cafmakerjob_sbnd.fcl#L115-L119

As these producers are stable, this would massively expedite the procedure for re-making CAFs from the reco2 files.

[2021-08-13 20:39] #162 closed

[2021-08-15 21:08] #105 closed

[2021-08-17 19:06] wesketchum commented on #155
Both merged. Closing.

[2021-08-17 19:06] #155 closed

[2021-08-19 17:55] PetrilloAtWork commented on #164
I think this deserves a wider discussion toward an agreement about what each "stage" contains, how to decide where additions belong and how to call them.
Characters in the play include the people managing the workflows (for ICARUS, @SFBayLaser; for SBND... @absolution1?), people writing and exercising the configurations (plenty: @gputnam, @etyley, @pgreen135, @cjbackhouse, and I am sure I am missi

[2021-08-19 17:58] cjbackhouse commented on #164
I am all in favour of this. My ideal is that the cafmaker job only runs the cafmaker module itself, and all the other products it needs are already in the art files. This is probably impractical for a variety of reasons, but it indicates a direction of travel. At the moment, making CAFs is pretty onerous due to all the other stuff that has to happen too.

[2021-08-19 18:12] etyley commented on #164
I agree with Chris that is what we should aspire to. Practically speaking, I see no reason that all of the producers mentioned above (apart from cafmaker itself obviously) could not be moved to the reco2 stage. I guess there is also a question about whether we would want the systematic weights to also be run prior to the CAFMaker (e.g. run the GENIE/flux weights at the gen stage).

[2021-08-19 21:19] wesketchum opened #168 "SBND CAFMaker needs to setup SBND backtracker service"
Per conversation in #167 , SBND CAFmaker is setting up standard Backtracker rather than an SBND specific one. Not sure where the SBND specific one is, but when it is located (or created), CAFMaker should set this one up.

[2021-08-19 21:53] wesketchum opened #169 "No default InputLabels in FCL configs in static code"
I claim that we should not have default parameters for input labels in fhicl configurations defined in C++ code.

Reasons why:

- We cannot use fhicl-dump to locate where parameters may be set.
- We cannot easily override parameters in configurations when we make changes.
- It can more easily allow for silent bugs where incorrect/unintended collections are read up.

Downside is that there need to

[2021-08-20 01:36] PetrilloAtWork commented on #169
My opinion is toward no default input tag as a general rule as well, on grounds of silent bugs plus maintainability concerns.
I am not particularly afraid of the work needed to get there; and I remember LArSoft being supportive of the concept some time ago.

P.S. Using FHiCL validated structures makes it marginally easier to find default values for configuration.

[2021-08-20 11:04] cjbackhouse commented on #169
Strongly agree. For every configurable parameter, there should be an entry in the base fcl (eg CAFMaker.fcl) for it that I can edit, and ideally an explanation in a comment. It's extremely tiresome to have to read an actual source file to figure out the config parameters (yes, I know for the validated case there's some way to dump them from the command line) and then type them all in to my job fcl

[2021-08-24 12:38] wesketchum commented on #7
I'm closing.

[2021-08-24 12:38] #7 closed

[2021-08-26 17:12] FernandaPsihas opened #170 "Refactor CAFMaker fcls & move to sbndcode"
Move the existing sbnd CAFMaker fcls to sbndcode and refactor any configurations that are common to icarus and sbnd, which can be left on sbncode.

[2021-09-09 19:55] wesketchum opened #171 "Need patch release for larsoft"
Referenced here: https://cdcvs.fnal.gov/redmine/issues/26222

Once available, we need a patched sbncode and sbndcode that uses this new larsoft patch, that will largely fix G4 problems seen in SBND 2021B production testing.

[2021-09-13 20:02] marcodeltutto opened #172 "Corsika Cosmic Proton Shower Statistics"
The Corsika database used to query primary cosmic showers for our cosmic simulation  doesn't have enough statistics when running with only proton primaries. The result is that in many cases we end up sampling the same cosmic primary (the start position on the cosmic generation surface is random, but not its 4-momentum).

Also, a single job on the grid picks only one Corsika database file and sampl

[2021-09-15 13:28] #171 closed

[2021-09-15 13:58] wesketchum commented on #170
@pgreen135 @gputnam @FernandaPsihas has this been done? I somehow recall seeing a branch that did this, but may be mistaken.

[2021-09-15 13:59] #38 closed

[2021-09-15 14:03] jzennamo commented on #69
I claim that this is integrated, what do others think? @wesketchum @vitodb @chilge

[2021-09-15 14:03] #71 closed

[2021-09-15 15:26] wesketchum commented on #172
First thing on the 2022A project board! But obviously should be done ASAP, and if it's ready by 2021C production all the better.

[2021-09-15 15:42] wesketchum commented on #28
Claiming done: https://sbnsoftware.github.io/AnalysisInfrastructure/WorkflowManagement/workflow.html

Though of course we need to stay on top of it.

[2021-09-15 15:42] #28 closed

[2021-09-29 14:30] vitodb commented on #69
I second Joseph.

[2021-10-04 18:34] #69 closed

[2021-11-02 14:48] jzennamo commented on #160
I think this was resolved in https://github.com/SBNSoftware/sbndcode/pull/195, @marcodeltutto feel free to close this if you think it is done

[2021-11-02 21:13] wesketchum commented on #112
Talking to @jzennamo, we think this is likely to slip to 2022A ... will keep here to continue to shame us for now until that project is made.

[2021-11-02 21:16] wesketchum commented on #164
@PetrilloAtWork @FernandaPsihas this is something we should make happen by 2021C production? (? == .)

[2021-11-02 21:23] wesketchum commented on #168
@FernandaPsihas @PetrilloAtWork can you followup on this?

[2021-11-02 21:24] wesketchum commented on #169
OK, I'm taking above comments as agreement we _should_ do this.

I'm moving it off 2021C, as I don't think it fits that timescale.

[2021-11-02 21:26] wesketchum commented on #109
@mastbaum any progress on this?

[2021-11-02 21:27] wesketchum commented on #142
@brucehoward-physics still something needed? Already addressed otherwise? Either an update here (and if it's still needed on timescale of 2021C) or close out ...

[2021-11-02 21:30] wesketchum commented on #138
@Ooohu is your work addressing this issue as well? If so link in a PR?

Looping in @mroda88 and @candreop here as well.

[2021-11-02 21:30] brucehoward-physics commented on #142
I think @gputnam had a recent update that was accepted (reviewed by Chris I think?) and included splitting out the truth info based on cryostat. I haven't tried to use it (yet).

[2021-11-02 21:30] brucehoward-physics commented on #142
Can you confirm Gray?

[2021-11-02 21:34] wesketchum commented on #65
@FernandaPsihas any update?

[2021-11-02 21:38] wesketchum commented on #170
@pgreen135 @PetrilloAtWork @FernandaPsihas did this get done?

[2021-11-02 21:39] wesketchum commented on #40
SBND Done. Waiting validation from ICARUS.

[2021-11-02 21:40] wesketchum commented on #72
closing this issue, and can write a more specific one related to workflows for 2021C.

[2021-11-02 21:40] #72 closed

[2021-11-02 21:40] wesketchum commented on #73
Closing, and will bring up more specific issues/PRs for 2021C.

[2021-11-02 21:40] #73 closed

[2021-11-02 21:48] wesketchum commented on #40
From discussion in SBN AI meeting today (2 Nov), @rennney and @wesketchum will help push on this, also in the context of validating 2D drift simulation.

[2021-11-05 04:46] Ooohu commented on #138
Yes, new GENIE weight in SBNEventWeight module will further breakdown non-resonant knobs into a finer categories such that more combinations of non-resonant knob is available.

see line 11~26 here: ( https://docs.google.com/spreadsheets/d/1G3dgVru-o4cUEHRWfnCUixhXGmjGPob1K5f--3GEcHc/edit#gid=0 )

[2021-11-05 14:11] wesketchum commented on #160
I'll agree that we can close this.

[2021-11-05 14:11] #160 closed

[2021-11-05 14:15] marcodeltutto commented on #160
Sorry I missed your message @jzennamo. I was keeping this open because we still have more than one SimEnergyDeposit collections. No longer related to SCE, but I was using this issue as a reminder. I'll open a new one.

[2021-11-05 14:40] marcodeltutto opened #185 "SimEnergyDeposit Collections in new LArG4"
With the new LArG4, there is a proliferation of saved `SimEnergyDeposit` collections, as shown in the image below. We have:
- 7 `SimEnergyDeposits` created directly by LArG4: 1 for the Active Volume and 6 for volumes outside the AV
- 3 `SimEnergyDeposits` created by `ionandscint`: 2 for the AV (one w/ and one w/o SCE) and 1 for outside the AV. The one in AV w/ SCE is already dropped.

The proposal

[2021-11-05 14:43] wesketchum commented on #185
I say yes.

Only thing is to verify/maybe even test that SimEdeps w/o SCE offsets can properly be used as input to ionandscint In AV/Out AV? If that is the case, then think this is perfect.

Honestly, I'd accept verbal confirmation, but if someone actually did run it through as a check even better.

[2021-11-05 14:45] wesketchum commented on #185
@marcodeltutto please assign someone (possibly yourself) to do this/keep track of this.

[2021-11-05 14:52] marcodeltutto commented on #185
Thanks @wesketchum! Feeding SimEnergyDeposits w/o SCE offsets was tested by @VCLanNguyen here https://github.com/SBNSoftware/sbndcode/pull/195#issuecomment-951100653.

[2021-11-08 14:54] wesketchum commented on #185
Keeping this open to remind us we need to do this for ICARUS when they switch to the new LArG4.

[2021-11-08 21:10] jzennamo opened #186 "Verify that systematic universes utilize same random numbers between ICARUS and SBND"
When drawing a systematic universe in either the flux or cross-section uncertainties we would want them be correlated throws between the near and far detector. We can check this by verifying that the random numbers used for the systematic weight calculations are the same for the near and far detector for the same systematic universe.

e.g. the pion production flux uncertainty will create N univers

[2021-11-09 15:54] cjbackhouse commented on #186
One easy way to check this would be to dump the universe configurations from the resulting CAF files and check they are identical. The information is stored within the globalTree tree, but I don't think there is a simple tool to dump it.

[2021-11-10 22:02] FernandaPsihas commented on #142
@grayputnam @brucehoward-physics are we good on this issue or does something still need to be done?

[2021-11-10 22:22] brucehoward-physics commented on #142
Oh sorry we had some chat on a Slack convo the other day and not here.

Per Gray: "I recently merged a PR into sbncode which partially addressed this issue"

But I haven't properly looked yet at this PR/the new sbnana to see if it fully addressed this issue or if there is something remaining related to this issue. Will update here when I have looked.

[2021-11-11 18:02] PetrilloAtWork commented on #170
I am proposing this to be done as the last step, given that many changes are occurring at the same time and moving things between repositories will bypass GIT merging ability.
As for the checks, if everything works _before_ the refactoring, to test the refactoring it should be enough to verify that:
1. the code runs
2. the final FHiCL configuration (`fhicl-dump`) for CAF making is the same as befo

[2021-11-11 18:40] PetrilloAtWork commented on #170
@Ooohu Please inform us in this issue when #176 is completed, so that this one can proceed.

[2021-11-11 18:40] brucehoward-physics commented on #142
Okay had a look at Gray's PR and chatted with him briefly over Slack (thanks!). I am recommending this issue remain open.

The changes didn't impact the "FillTrueG4Particle" info so for example if a muon crossed from one cryostat to the other in ICARUS we wouldn't have access to its stop point in the other cryostat. (Or possibly for other similar things of interest, like if it exits the other cryo

[2021-11-12 12:55] #138 closed

[2021-11-15 14:36] etyley opened #190 "Flux systematics are missing relevant root files"
PR #176 recently added a `cafmakerjob_sbnd_sce_genie_and_fluxwgt.fcl` fcl (With no non-sce equivalent) that fails to run with the following error:
[code]
The relevant files seem to exist in `sbndata` but there seem to be a few issues why these are not being picked up:
- `sbndata` is not being added to the `FW_SEARCH_PATH` set up by sbncode
- The path is incorrect (There is an additional `BNBdata`

[2021-11-15 14:51] etyley commented on #190
Whilst I assigned this to Keng I think that the first issue is probably `sbndata` not setting itself up properly, but I was not sure the relevant person to address this? @wesketchum @jzennamo

[2021-11-15 14:54] cjbackhouse commented on #190
Do we want/need `sbndata` in the search path? (The answer may well be "yes"). Personally I would have coded in a `getenv("SBNDATA_DIR")` into SBNEventWeight.

[2021-11-15 15:02] etyley commented on #190
So we set up `sbnd_data` in the `FW_SEARCH_PATH` so I guess we want to do the same for `sbndata`. I think that the `FW_SEARCH_PATH` is used pretty ubiquitously for finding these things elsewhere in sbn(d)code

[2021-11-15 15:06] etyley commented on #190
I think that was the expected behaviour of the currently implemented code, so I am in favour of that.

[2021-11-15 16:03] wesketchum commented on #170
#176 is now merged.

[2021-11-15 16:54] cjbackhouse commented on #190
The corresponding PR for the fcl is here
https://github.com/SBNSoftware/sbncode/pull/189
paths are correct but we now need to bump sbndata to v01_03

[2021-11-15 17:38] Ooohu commented on #170
One minor fix on the local FHiCL under SBNEventWeight Module is needed for finding the correct path of files mentioned in #189;  however, this is independent to the CAFMaker fcls.

[2021-11-15 18:07] FernandaPsihas commented on #170
ok, then I think @jacoblarkin is good to go on this?

[2021-11-15 18:16] etyley commented on #190
When testing the fixes mentioned in the linked PR I get the following error (after the job spent over 3 hours configuring and calculating the weights):
[code]
So I guess more changes may be required.

[2021-11-15 18:32] Ooohu commented on #190
Oh, there are some knobs rely on GENIE v3.2; I will go ahead and comment out them. Sorry about the incovenience:(

[2021-11-15 19:04] jacoblarkin commented on #170
I have local branches on sbndcode and sbncode with the cafmaker fcls moved to sbndcode. It seems to work so I will make pull requests for those later today.

Who are the appropriate people to list as reviewers on sbncode and sbndcode?

For the refactoring part, there doesn't actually seem to be much opportunity for moving common configurations between sbnd and icarus. It looks like only the event

[2021-11-15 19:35] FernandaPsihas commented on #170
I would add Gray and Chris Backhouse as well as Gianluca and/or me as reviewers. I think refactoring what you can for now is ok, later there may be more so it is good to have a place for common vs detector specific configurations.

[2021-11-15 20:38] Ooohu commented on #190
I will fix this in the PR #192

[2021-11-16 00:46] PetrilloAtWork commented on #164
I'll need to pull in the ICARUS workflow manager (@SFBayLaser).

[2021-11-16 16:13] wesketchum opened #198 "Some issue"
Some comment.

[2021-11-16 16:14] #198 closed

[2021-11-18 11:23] #170 closed

[2021-11-19 14:32] #190 closed

[2021-11-22 19:05] brucehoward-physics opened #204 "Printout in Flash Match module"
Seeing this printout at least in v09_36_00 `icaruscode`. Tagging @ikatza but if you're not the right person, can you tag who it should go to (if you know)?

[code]

[2021-11-22 21:28] wesketchum commented on #153
Closing as PR #152 was closed.

[2021-11-22 21:28] #153 closed

[2021-11-22 22:20] ikatza commented on #204
I'm the right person. Not really an issue, as you see the distance is the same, it's just a floating point comparison thing. I'll handle it eventually.

[2021-11-22 22:22] ikatza commented on #153
It still misses quite a bit of doxygen compatible comments though.

[2021-11-23 23:23] brucehoward-physics opened #205 "Drift velocity calculation changed in ICARUS"
With the merge of PR https://github.com/SBNSoftware/icarusalg/pull/43 in `icarusalg` ICARUS switched to an alternate description of drift velocity (`UseIcarusMicrobooneDriftModel: true`). At the field/temperature currently set in the ICARUS parameters this is a fairly small change the velocity.

Filing an issue since the same change was not made in SBND, at least yet, so that we can remember to ha

[2021-11-24 04:19] Ooohu commented on #186
- [ x ] Using `cafmaker*` in `sbncode`
- [ x ] Using `cafmaker*` in `icaruscode`
Both jobs give the same random number sequences as the following:

[code]
Here I use random seed 7 for first 20 universes multisim for one flux uncertainty; random seed 100 for first 20 universes for 2 genie uncertainties.

[2021-11-24 14:53] wesketchum commented on #205
Assigning to Mike and Filippo, though @marcodeltutto and others may also want to weigh in.

I've also targeted this for 2022B (spring release) since that's the critical juncture for joint SBND/ICARUS analysis pieces, but the sooner it can be decided/get in the better.

[2021-11-24 15:12] varanini commented on #205
I agree with @mrmooney that the ICARUS change is both good and should have a fairly small impact on reconstruction. And should be extended to SBND.
Not in the position to comment much on the technical issues and timescale for the SBND change.

[2021-12-01 03:39] brucehoward-physics opened #210 "CAFMaker module requires BackTracker and ParticleInventory services to run"
In `icaruscode` PR https://github.com/SBNSoftware/icaruscode/pull/303 to add a version of the CAFMaker fhicl that is more data-focused, it was requested (Gray/Chris) that the BackTracker and ParticleInventory Services be removed.

It seems that CAFMaker doesn't run without these, however. The instantiation of BackTracker and ParticleInventory service happens in the main produce step to be used in

[2021-12-17 16:52] cjbackhouse opened #219 "Split CAFMaker into record-making and CAF-making parts"
CAFMaker does (at least) two things

1. Summarizes art level information into StandardRecord objects
2. Writes those objects to an output TFile (the CAF)

This issue is to split the two parts into separate modules (StandardRecordMaker and CAFMaker?) that would usually run one after the other, reproducing the current behaviour, but also enabling some other modes of operation.

The records from 1. w

[2021-12-17 16:59] cjbackhouse opened #220 "Ability to create CAF-precursor art files"
Once CAFMaker is split in 2 (https://github.com/SBNSoftware/sbncode/issues/219), it will be reasonable to create "CAF precursor" files (better name/metaphor required) which are art files containing nothing but StandardRecord objects. These are logically equivalent to CAFs, but stored in art format. One would simply run the "StandardRecordMaker" but not "CAFMaker" step, and use an `outputCommands`

[2021-12-17 17:18] cjbacchus opened #221 "CAF-precursor to CAF, including additional weights"
Once we have the ability to create CAF-precursor files (https://github.com/SBNSoftware/sbncode/issues/220), we will want a way to CAF them. That much is trivial, just a fcl that runs the CAFMaker module alone, making use of the StandardRecord objects in the precursor file.

The reason to want all this, though, is the ability to add new weights to the CAF. So the fcl would additionally run `geniewe

[2022-01-27 18:55] jedori0228 opened #228 "GENIE reweights configuration"
Since the update in `v09_35_01`, we now save one overall weight values with all knobs are varies simultaneously while we used to have weights from each knobs separately. This can be checked from the output of `PrintSRGlobal()` defined in https://github.com/SBNSoftware/sbnana/blob/v09_42_00/sbnana/CAFAna/Systs/UniverseOracle.cxx#L54-L65 from two different samples:

From the CAF made with version<=`

[2022-01-28 11:21] cjbackhouse commented on #228
Just to add that we rely on the separate weights for oscillation analysis. It's very hard to understand the full structure of a 32-dimensional function from just 1000 examples of it, so we exploit the fact that the weights mostly factorize.

[2022-02-03 21:23] brucehoward-physics opened #229 "Getting (Pandora) Nu Score BDT inputs from Pandora into CAF files"
Making an `sbncode` issue to track this status per Joseph's suggestion:

@henrylay97 has a PR in with Pandora to persist the inputs in metadata: https://github.com/PandoraPFA/LArContent/pull/189

I have some feature branches taking care of the `sbncode`, `sbnanaobj`, and `icaurscode` bits to get this info into CAF files. I want to briefly think about one bit (if we want to use `unsigned int` or `f

[2022-02-09 16:34] miquelnebot opened #232 "Getting (Pandora) Nu Score BDT inputs from Pandora into CAF files #229"

[2022-02-09 16:35] #232 closed, assigned to nobody

[2022-03-11 12:48] cjbackhouse commented on #65
https://github.com/SBNSoftware/sbncode/pull/248

[2022-03-11 12:50] cjbacchus opened #249 "Clean up binary locations"
`CAFMaker/bin/` contains `diff_cafs` `extractCAFMetadata` and `file_size_ana`. Arguably `diff_cafs` and `extractCAFMetadata` should live in `sbnana`, and `file_size_ana` somewhere else in `sbncode`?

[2022-03-21 15:40] #210 closed

[2022-03-21 15:40] #219 closed

[2022-03-21 15:41] wesketchum commented on #220
Can this be closed @cjbackhouse ?

[2022-03-21 15:43] cjbackhouse commented on #220
No, this is part of a series of issues detailing a longer-term plan. None of this has happened. Same for https://github.com/SBNSoftware/sbncode/issues/219 and https://github.com/SBNSoftware/sbncode/issues/221

[2022-03-21 15:55] wesketchum commented on #229
@brucehoward-physics : are all necessary PRs in place (either merged in or in progress to your knowledge?)

[2022-03-21 16:03] brucehoward-physics commented on #229
I believe for the nu score this is the case -- @henrylay97 had the change in LArContent that needed porting over. I have a PR in `icaruscode` which should turn on the saving and Henry had one in `sbndcode` (Henry can you confirm your PR was aimed at the production release?). I also had PRs in sbncode and sbnanaobj meant to put these into the CAF files. I am not certain they have been merged yet bu

[2022-03-21 21:26] #65 closed

[2022-03-22 08:09] wesketchum commented on #164
@PetrilloAtWork @SFBayLaser I can check the fcl files too, but I believe this has been done, yes?

[2022-03-22 08:25] wesketchum commented on #229
Great. For documentation, I think the corresponding PRs are:

sbnanaobj: https://github.com/SBNSoftware/sbnanaobj/pull/44
sbncode: https://github.com/SBNSoftware/sbncode/pull/236
icaruscode: https://github.com/SBNSoftware/icaruscode/pull/354
sbndcode: https://github.com/SBNSoftware/sbndcode/pull/255

So, looks like ready to go, and can close when everything is merge in.

[2022-03-22 10:19] henrylay97 commented on #229
Just to answer some of the queries here:
- my LArContent PR (PandoraPFA/LArContent#189) was merged a month or so ago into develop
- a [branch](https://github.com/henrylay97/LArContent/tree/feature/hlay_persist_slice_bdt_inputs_release_SBN2021C) exists with the same commits relative to the production release for Miquel to use in our larsoft patch
- my sbndcode PR (SBNSoftware/sbndcode#255) is aimed

[2022-03-24 08:51] #229 closed

[2022-03-24 08:53] #228 closed

[2022-03-31 07:16] wesketchum commented on #164
Believe this is done. Closing.

[2022-05-12 16:29] cjbackhouse opened #264 "Implement filter module based on run/subrun/event"
We should implement something very like NOvA's RunEventFilter module. This takes a text file (in the simple format output by CAFAna's EventList code) and only passes art events that are in this list. That enables you to make a skim file for further study, e.g. hand scanning
`/cvmfs/nova-development.opensciencegrid.org/novasoft/releases/development/Filter/RunEventFilter_module.cc`

[2022-05-12 16:34] cjbacchus opened #265 "Break CAFMaker out into its own package"
Otherwise sim/reco fixes and CAF-making fixes can each interrupt the other's production by requiring new releases to be cut.

The biggest question is what to actually call the repo. `sbnanaobjmaker`???

[2022-06-28 11:19] ikatza opened #274 "CRTT0Matching libraries have the same name"
I encountered this exception when running cafmaker on a local installation that has both `sbndcode` and `icaruscode`. I guess the library specification `CRTT0Matching` should be specific to each experiment?

[code]

[2022-08-30 02:22] PetrilloAtWork commented on #274
Has this been addressed?
The modules can still have the same names, and all works well as long as the FHiCL configuration specified the full name of the module:
```module_type: "sbndcode/CRT/CRTTools/CRTT0Matching``` for SBND (ICARUS is already doing the same).

[2022-08-30 02:23] PetrilloAtWork commented on #274
Is that approach acceptable to SBND?

[2022-08-30 04:34] PetrilloAtWork opened #282 "Make optical flash information filling detector-agnostic"
The code filling the optical flashes was written with ICARUS in mind (see also the review in PR #273).
While this is good for short term, the code needs to be updated.
Incriminated code:
https://github.com/SBNSoftware/sbncode/blob/db3414dece81d6c0f671e3087957b27cc95b55b2/sbncode/CAFMaker/FillReco.cxx#L128-L133
In addition there is somewhere ICARUS-specific code that relies on an unofficial convent

[2022-08-30 04:36] PetrilloAtWork commented on #282
Labelling "bug" because as it is, this is not compatible with SBND.

[2022-08-30 09:43] cjbackhouse commented on #274
I didn't even know you could do that...
I would personally definitely prefer to change the actual class names.

[2022-08-31 14:36] JackSmedley commented on #282
Thanks for resurfacing this, I really did not like leaving it this way. For ICARUS the idea of counting the PEs in one flash on each side of the cathode seemed obviously useful, but since SBND is optically isolated on either side of the cathode I am not sure this kind of accounting makes any sense. Maybe totaling PEs on coated and uncoated PMTs instead of east and west might be useful? Admittedly,

[2022-09-05 13:07] ikatza commented on #274
It hasn't been addressed as of `v09_56_00`. I don't have much stake in this issue, I only figured to report it. Maybe the people who worked on the `CRTT0Matching` should give their opinion?

[2022-09-09 08:07] wesketchum commented on #264
I realize that the 'simple format' here may not be what one would want, but presumable this art filter could already fit the bill, if you print out the matching run:subrun:event number list in a fcl format?

https://github.com/art-framework-suite/art/blob/develop/art/Framework/Modules/EventIDFilter_module.cc

Can you comment if that would fit the need? And if so, then do we need something to auto-

[2022-09-09 08:10] wesketchum commented on #265
I think this may be good to try to push through ASAP (as in, next few weeks if possible), or at least discuss a better structure and try to implement before you are gone @cjbackhouse . Do you think that's possible? What will need doing?

@PetrilloAtWork @FernandaPsihas thoughts?

(Could be correlated with other breaking changes in CAFs...?)

[2022-09-09 08:14] wesketchum commented on #274
We should agree on a fix. For the moment, can we modify the SBND fhicls to do as @PetrilloAtWork recommends, and then from there we can try to do some cleanup of this code?

@ilepetic @FernandaPsihas others maybe can comment ...

[2022-09-09 09:06] cjbackhouse commented on #265
I took a shot at this a while back. There's a post June 9th in #analysis_software
This is the sbncafmaker repo (with automatically rewritten history)
https://github.com/SBNSoftware/sbncafmaker/tree/develop/sbncafmaker
We would still need to file an issue against mrb to get it added to the list of packages.
sbncode branch with CAFMaker removed (this is a much simpler operation) https://github.com/S

[2022-09-09 09:12] cjbackhouse commented on #264
Hmm, it's fcl-based rather than taking a text file, but we can presumably produce the right format easily enough. NOvA CAFAna has the FileList tools to produce these lists (you give it a Cut, and a list of Vars, and it makes a text file or TTree with the run/subrun/event and Var values for events that passed the cut). They didn't get ported to SBN yet. I think for the raw question of spitting out

[2022-09-09 09:26] wesketchum commented on #264
(see https://github.com/SBNSoftware/sbnana/pull/85 for that RecordSource branch)

[2022-09-09 09:48] wesketchum commented on #204
Well, long time to come back to it, but @ikatza has this been fixed?

[2022-09-09 09:52] wesketchum commented on #112
Status here? @PetrilloAtWork @jzennamo

[2022-09-09 09:59] wesketchum commented on #168
@FernandaPsihas @PetrilloAtWork is this still an issue?

[2022-09-09 10:11] ikatza commented on #204
Soon.

I have a PR with the fix, but I need to create and update the ICARUS files to be able to merge it.

[2022-09-15 09:07] miquelnebot opened #293 "Genie v3_02_00 update"
Genie v3_02_00 is now working for sbn.
Working branch release/v09_55_01_01.
Opening this issue to check on the need for validation refs update.
Depends on SBNSoftware/sbnobj#64

[2022-09-15 09:37] mroda88 commented on #293
The branch mentioned by @miquelnebot has the following changes when it comes to linking against genie.
 - We got rid of the librarires that disappeared from genie and I added the new ones.
 - I also added some of the libraries that were there before but we never linked against, like boosted dark matter stuff.

The new libraries are picked as being those generated in the UPS build. Other builds mig

[2022-09-15 09:45] mroda88 commented on #293
It's worth adding a comment for the future. At the moment the way SBNCode is linking against genie libraries is a bit dull because we have to link each library genie creates. Here is a snippet
[code]
Not a major issue but I can see it being a weak solution in the long term, especially if there will be different build with additional dependencies that can be swapped in and out depending on the depe

[2022-10-08 07:47] PetrilloAtWork opened #301 "Flash matching time definition in CAF differs for data and MC"
The definition of the time in the flash matching information in CAF is different for ICARUS data than for both ICARUS and SBND Monte Carlo.

This complicates event selection.

Discussion is being carried on in #296.

[2022-10-08 09:12] PetrilloAtWork opened #302 "BNBRetriever module needs to be decoupled from ICARUS trigger fragment"
The `BNBRetriever` module is currently using an ICARUS data fragment to extract the necessary beam gate information.
The object `sbn::ExtraTriggerInfo` has recently be transferred to SBN (`sbnobj`), and this module should now rely on that data product.

[2022-10-11 14:05] jzettle commented on #302
This is doable but it would be a philosophy change which means the POT accounting has to be run during stage0 after the decoding happens as opposed to before it when we have the raw data present.

[2022-10-12 13:09] jzettle commented on #302
Sure, I understand I just wanted to lay that out. I have never tried running any part of that in the online monitor. What does the online monitor run as a fcl. Assuming the OM processing is just a subset of stage0 we can add this in there and try it it is presumably not prohibitive in terms of data size to run that as is

[2022-10-14 06:23] wesketchum opened #303 "Refashion the supera integration for more standard production release"
See commentary in #284 for more detail, but we want to revisit the use of git submodules and, likely, make this its own standard directory in sbncode or refactor to create a standalone product.

[2022-10-14 16:54] ikatza commented on #204
By the way https://github.com/SBNSoftware/sbncode/pull/300 fixes this issue.

[2022-10-20 03:42] PetrilloAtWork opened #306 "CAFMaker blinding random stream uses the same random numbers as the "fake" reconstruction"
The blinding code introduced in #287 uses a random stream to decide whether the event is going to be kept unchanged.

The bug is that the random seed may end up being the same as the one of the other random stream (which is used for "fake" reconstruction):
https://github.com/SBNSoftware/sbncode/blob/a38ad525c77ffaed381e34fab6597e3a37cbec77/sbncode/CAFMaker/CAFMaker_module.cc#L338
A different insta

[2022-10-20 03:47] PetrilloAtWork commented on #306
"Assigned" to @etworcester mostly because she should be aware of the issue.
I don't have much time, but I consider myself bound to help.

[2022-10-24 21:57] PetrilloAtWork opened #311 "Add reconstructed time to CAF particle record"
Pandora is sometimes able to tag a particle with a time (cathode-crossing tracks are the case in ICARUS and presumably SBND).
The information of that time should be stored in CAF data.
In fact, it may be conceivable that several time estimations are available (from matching with light, with CRT, and from TPC reconstruction, for example) and one might even want to accommodate all of them and let th

[2022-11-01 18:48] wesketchum commented on #311
Is this PR fixing this issue? https://github.com/SBNSoftware/sbncode/pull/308

[2022-11-01 21:28] etworcester commented on #306
Also, Jacob pointed out that the fake reco and the blinding will in practice not be run on the same data set (fake reco is MC only, blinding is data only) so that may mitigate the concern about the impact of re-using the random number generator

[2022-11-02 14:42] wesketchum commented on #306
@PetrilloAtWork can you comment if you are happy with the reply or not?

If we think something should still be done, then my proposal would be to keep the issue open but target it for a future release, since it sounds like it may not be _urgent_

[2022-11-08 16:49] wesketchum commented on #306
OK, very very very very very briefly summing up my understanding of the Slack discussion:

* what's there is OK for now.
* it's not critical to change it now
* we can re-think on a future release

[2022-11-10 17:37] PetrilloAtWork commented on #301
Isn't the resolution moved to PR #314?

[2022-11-29 17:41] knoepfel opened #319 "Possible error in TrackCaloSkimmer"
While preparing a PR for some geometry changes in LArSoft, I ran across [this code](https://github.com/SBNSoftware/sbncode/blob/develop/sbncode/Calibration/TrackCaloSkimmer_module.cc#L766-L767):

[code]

This looks like a potential bug.  Can you confirm that this code should be changed accordingly:
[code]

[2022-11-29 18:30] wesketchum commented on #311
@PetrilloAtWork should this be left open? going to move to a different release at the least ... but would be good to close if we can.

[2022-11-29 18:36] PetrilloAtWork commented on #311
I think PR #308 addressed it for the time being.
We'll want the time from PMT and CRT when they become available, but that's not for the current release.
Up to you if you prefer to close this one or move its target.